{#
/**
 * @file
 * Default theme implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see\Drupal\Core\Form\FormPreprocess::preprocessCheckboxes()
 *
 */
#}
<div{{ attributes.addClass('form-checkboxes') }}>{{ children }}</div>
