<div{{ attributes.addClass('scheme-switcher') }}>
  <label class="scheme-switcher__toggle toggle">
    <input type="checkbox" class="scheme-switcher__controller" aria-label="Toggle dark mode"/>
    {{ include('morphos:icon', {
      icon: 'sun',
      icon_size: 'icon-size--xs',
    },
      with_context: false
    ) }}
    {{ include('morphos:icon', {
      icon: 'moon',
      icon_size: 'icon-size--xs',
    },
      with_context: false
    ) }}
    <span class="sr-only">Toggle dark mode</span>
  </label>
</div>
