{% set classes = [
  'toc',
  sticky ? 'sticky top-20',
  canvas_is_preview ? 'min-h-20',
  'has-rhythm',
] %}

{% if show %}
  <nav{{ attributes.addClass(classes)
    .setAttribute('data-content-selector', content_selector)
    .setAttribute('data-heading-levels', heading_levels)
    .setAttribute('data-ignore-selector', ignore_selector|default('')) }}>
    {% if heading is not empty %}
      {{ include('morphos:heading', {
        heading: heading,
        level: heading_level|default(2),
      }, with_context: false) }}
    {% endif %}
    <div class="toc__body"></div>
  </nav>
{% endif %}
